<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/loginpagestyle.css">
</head>
<body>
<div>
    <h1>Login Form</h1>
    <form th:action="@{/login}" method="post">
        <label>
            <input type="email" name="email" placeholder="Enter email" />
        </label>
        <label>
            <input type="password" name="password" placeholder="Enter password" />
        </label>
        <button type="submit">Log In</button>
    </form>

    <!-- Register redirect button -->
    <form action="/register" method="get">
        <button type="submit">Create New Account</button>
    </form>
</div>
</body>
</html>
