<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/loginpagestyle.css">
</head>
<body>
<div class="box">
    <h1>Login Page 🧠</h1>
    <input type="text" placeholder="Username"><br><br>
    <input type="password" placeholder="Password"><br><br>
    <button>Login</button><br><br>

    <!-- Register redirect button -->
    <form action="/register" method="get">
        <button type="submit">Register</button>
    </form>
</div>
</body>
</html>
