<!DOCTYPE html>
<html lang="en">
<nav class="navbar">
    <div class="logo">Academic AI</div>
    <div class="buttons">
        <a th:href="@{/welcome}">Home</a>
        <a th:href="@{/reports}">Reports</a>
        <a th:href="@{/logout}">Logout</a>
    </div>
</nav>
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<link rel="stylesheet" href="/css/WelcomePage.css">
<h1>Welcome {{user_name}}</h1>
<body><b>
This project helps you to understand how your academic going.<br>
we can even make deep analysis of your studies.</b><br>
</body>
</html>